{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Club</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="text">Book Club</li>

                <li class="right">
                    <a href="#">about</a>
                    <a href="#">log in</a>
                </li>

            </ul>
        </nav>
    </header>
    <h1> Can you see me?</h1>
</body>
</html>